.assembly-map {
  width: 100%;
  max-width: 400px;
}

svg {
  background-color: red;
}

.tf_wrap {
  width: 100%;
  max-width: 1400px;
  height: 1000px;
  /* background-image: url(img/trace.jpeg);
  background-repeat: no-repeat;
  background-position: top center; */
  margin: 0 auto;
}
